  body {
      font-family: 'century gothic', sans-serif;
      padding: 20px;
      margin: auto;
    } 

    form {
      margin-bottom: 30px;
      background: #f9f9f9;
      padding: 15px;
      border-radius: 10px;
      box-shadow: 0 0 5px rgba(0,0,0,0.1);
      width: 400px;
    }

    input, button {
      display: block;
      margin-bottom: 10px;
      width: 100%;
      padding: 8px;
      border-radius: 4px;
      border: 1px solid #ccc;
    }

    #dados{
      display: flex;
    }

    #dados > div {
      border: 1px solid #ccc;
      padding: 15px;
      border-radius: 10px;
      margin-bottom: 15px;
      margin-right: 20px;
      background: #fefefe;
      width: 300px;
      min-height: 300px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }

    img {
      width: 100%;
      height: auto;
      border-radius: 5px;
      margin-top: 5px;
    }

    button {
      background-color: #2c6fd1;
      color: white;
      border: none;
      cursor: pointer;
      margin-top: 5px;
    }

    button:hover {
      background-color: #2c6fd1;
    }

    #header {
      position: relative;
      width: fit-content;
      margin: auto;
    }
  
  /* Logo */
  
    #logo {
      display: inline-block;
    }
  
      #logo h1 {
        background: #003ca2;
        color: #fff;
        border-radius: 6px;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        font-weight: 400;
        padding: 0.25em 0.2em 0.25em 0.2em;
        font-size: 3.25em;
        letter-spacing: 0.05em;
        display: inline-block;
        vertical-align: middle;
      }

      #logo h1 a{
        text-decoration: none;
        color: #fff;
      }
  
      #logo span {
        font-weight: 800;
        line-height: 4.5em;
        letter-spacing: 0.025em;
        font-size: 0.9em;
        vertical-align: middle;
        margin: 0 0 0 1.25em;
      }